# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.env
venv/
env/

# Notebooks temporaires
.nb_*.ipynb
make_notebook.py
build_git_history.py

# Fichiers temporaires Word/Office
~$*
~WRL*.tmp
*.tmp

# OS
.DS_Store
Thumbs.db
desktop.ini
